body {

    background-color: white;

}

#title {

    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 100;

}

#header {

    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 5%;

}

#algorithm-variables {

    margin: auto;
    width: 50%;
    text-align: center;

}

.variable-header {

    margin-top: 3%;
    margin-bottom: 1%;

}

.variable {

    margin-top: 1%;
    margin-bottom: 1%;

}

.message {

    margin-top: 3%;
    margin-bottom: 2%;

}